* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    text-transform: capitalize;
}

label {
    display: block;
    text-transform: uppercase;
    margin-bottom: 5px;
}

input {
    width: 100%;
    display: block;
    border: 1px solid hsl(270, 3%, 87%);
    outline: 0;
    padding: 5px 20px;
    margin-bottom: 20px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.main-container {
    position: relative;
    display: flex;
    margin-right: 10%;
    transform: translate(10%, 20%);
    -webkit-transform: translate(5%, 20%);
    -moz-transform: translate(10%, 20%);
    -ms-transform: translate(10%, 20%);
    -o-transform: translate(10%, 20%);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    margin-bottom: 20%;
}

@media (max-width: 767px) {
    .main-container {
        flex-direction: column;
        width: 100%;
        height: 100%;
        margin: 0;
        transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        box-shadow: none;
    }
}

.main-container .b-ground img {
    height: 100%;
    width: 100%;
}

@media (max-width: 767px) {
    .main-container .b-ground img {
        height: 250px;
    }
}

.main-container .carts {
    position: absolute;
    top: 150px;
    left: 150px;
}

@media (max-width: 767px) {
    .main-container .carts {
        left: 10px;
        top: -500px;
    }
}

.main-container .carts .front {
    position: relative;
    margin-bottom: 30px;
}

@media (max-width: 767px) {
    .main-container .carts .front {
        margin: 0;
        top: 630px;
        z-index: 5;
    }

    .main-container .carts .front img {
        width: 300px;
        margin-left: 10px;
    }
}

.main-container .carts .front .circles {
    position: absolute;
    top: 0;
    left: 0;
}

@media (max-width: 767px) {
    .main-container .carts .front .circles {
        left: 40px;
    }
}

.main-container .carts .front .circles .big-c {
    position: inherit;
    background-color: #eee;
    top: 20px;
    left: 25px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.main-container .carts .front .circles .small-c {
    position: inherit;
    top: 30px;
    left: 70px;
    background-color: transparent;
    border: 1px solid #eee;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.main-container .carts .front .f-number {
    position: absolute;
    bottom: 100px;
    left: 30px;
    color: #eee;
    word-spacing: 1.8rem;
    letter-spacing: 5px;
}

@media (max-width: 767px) {
    .main-container .carts .front .f-number {
        left: 30px;
        bottom: 50px;
        word-spacing: 0;
        letter-spacing: 3px;
    }
}

.main-container .carts .front .f-info {
    position: absolute;
    bottom: 30px;
    left: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    color: #eee;
}

.main-container .carts .front .f-info .f-name {
    letter-spacing: 1.5px;
}

.main-container .carts .front .f-info .f-date {
    letter-spacing: 2px;
}

.main-container .carts .back {
    position: absolute;
    left: 90px;
}

@media (max-width: 767px) {
    .main-container .carts .back {
        left: 50px;
        top: 536px;
        z-index: 4;
    }

    .main-container .carts .back img {
        width: 300px;
    }
}

.main-container .carts .back .cvc {
    position: absolute;
    top: 110px;
    right: 48px;
    color: #eee;
    letter-spacing: 1.5px;
}

@media (max-width: 767px) {
    .main-container .carts .back .cvc {
        top: 71px;
        right: 37px;
    }
}

.main-container .pay-information {
    text-align: center;
}

@media (max-width: 767px) {
    .main-container .pay-information {
        padding: 0 30px;
    }
}

.main-container .pay-information form {
    text-align: start;
    margin-left: 300px;
    width: fit-content;
    transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -moz-transform: translateY(200px);
    -ms-transform: translateY(200px);
    -o-transform: translateY(200px);
}

@media (max-width: 767px) {
    .main-container .pay-information form {
        width: 100%;
        margin: 0;
        padding-bottom: 35px;
        transform: translateY(100px);
        -webkit-transform: translateY(100px);
        -moz-transform: translateY(100px);
        -ms-transform: translateY(100px);
        -o-transform: translateY(100px);
    }
}

.main-container .pay-information form .date-information {
    display: flex;
    flex-direction: column;
}

.main-container .pay-information form .date-information .lb-date {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-container .pay-information form .date-information .lb-date .cvc {
    margin-right: 60px;
}

.main-container .pay-information form .date-information .date-info {
    display: flex;
}

.main-container .pay-information form .date-information .date-info input {
    margin-bottom: 0;
}

.main-container .pay-information form .date-information .date-info #cvc {
    margin-left: 20px;
}

.main-container .pay-information form .date-information .date-info .years,
.main-container .pay-information form .date-information .date-info .month {
    padding: 10px 0;
    width: fit-content;
    text-align: center;
}

.main-container .pay-information form .date-information .date-info .years {
    margin-left: 10px;
}

.main-container .pay-information form .confirm {
    margin-bottom: 0;
    margin-top: 30px;
    padding: 10px 0;
    background-color: hsl(278, 68%, 11%);
    color: hsl(270, 3%, 87%);
    cursor: pointer;
    text-transform: capitalize;
    font-weight: 600;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.main-container .pay-information form .confirm:hover {
    color: hsl(278, 68%, 11%);
    background-color: hsl(270, 3%, 87%);
}